name: "Sync Cog"

on:
  schedule:
    - cron: "0 0,12 * * *" # Twice daily
  workflow_dispatch:
  pull_request: # added temporarily to test the workflow

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Sync assistant cog
        uses: nntin/d-flows/actions/sync-cogs@51f4b1f728b01b1e38d97e8379b8581193bf3c3f
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          source_repo: https://github.com/nntin/vrt-cogs.git
          source_branch: feature/ollama-embedding
          destination_repo: nntin/d-cogs
          destination_branch: main
          cog_names: assistant
          pr_branch: sync/assistant-cog
          pr_title: "Sync assistant cog from vrt-cogs"
          pr_body: |
            This PR syncs the latest changes from the `assistant` cog in the `vrt-cogs` repository. Repository URL: https://github.com/vertyco/vrt-cogs, Fork: https://github.com/nntin/vrt-cogs

      - name: Sync hotreload cog
        uses: nntin/d-flows/actions/sync-cogs@51f4b1f728b01b1e38d97e8379b8581193bf3c3f
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          source_repo: https://c.csw.im/cswimr/SeaCogs.git
          source_branch: main
          destination_repo: nntin/d-cogs
          destination_branch: main
          cog_names: hotreload
          pr_branch: sync/hotreload-cog
          pr_title: "Sync hotreload cog from SeaCogs"
          pr_body: |
            This PR syncs the latest changes from the `hotreload` cog in the `SeaCogs` repository. Repository URL: https://c.csw.im/cswimr/SeaCogs
